<tr>
  <td class="relative py-5 pr-6">
    <div class="flex gap-x-6">
      <div class="flex-auto">
        <div class="flex items-start gap-x-3">
          <div class="text-sm font-medium leading-6 text-gray-900"><%= feedback.organization.name %></div>
          <% if feedback.dkim_fully_valid? %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">DKIM</div>
          <% elsif feedback.dkim_partially_valid? %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-yellow-700 bg-yellow-50 ring-yellow-600/20">DKIM</div>
          <% else %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-red-700 bg-red-50 ring-red-600/20">DKIM</div>
          <% end %>
          <% if feedback.spf_fully_valid? %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">SPF</div>
          <% elsif feedback.spf_partially_valid? %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-yellow-700 bg-yellow-50 ring-yellow-600/20">SPF</div>
          <% else %>
            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-red-700 bg-red-50 ring-red-600/20">SPF</div>
          <% end %>
        </div>
        <div class="mt-1 text-xs leading-5 text-gray-500"><%= source_ip_list(feedback) %></div>
      </div>
    </div>
    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
  </td>
  <td class="py-5 text-right">
    <div class="flex justify-end">
      <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">View<span class="hidden sm:inline"> feedback</span><span class="sr-only">, invoice #00012, Reform</span></a>
    </div>
    <div class="mt-1 text-xs leading-5 text-gray-500">Report-ID <span class="text-gray-900"><%= feedback.report_id %></span></div>
  </td>
</tr>
