<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">Total feedbacks</dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= domain.feedbacks.count %></dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">Total reports</dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900"><%= domain.records_sum %></dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">Avg. Click Rate</dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">24.57%</dd>
    </div>
  </dl>
</div>
