<div class="space-y-16 py-16 xl:space-y-20">
  <div class="mt-6 overflow-hidden border-t border-gray-100 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8  dark:bg-gray-300 dark:border-gray-400">
    <div class="px-4 py-10 sm:px-6 lg:px-8">
      <div class="mx-auto flex items-center justify-between gap-x-8 lg:mx-0">
        <div class="flex items-center gap-x-6">
          <img src="https://tailwindui.com/img/logos/48x48/tuple.svg" alt="" class="h-16 w-16 flex-none rounded-full ring-1 ring-gray-900/10">
          <h1>
            <div class="text-sm leading-6 text-gray-500">Report ID <span class="text-gray-700"><%= feedback.report_id %></span></div>
            <div class="mt-1 text-base font-semibold leading-6 text-gray-900"><%= organization.name %></div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
