<% if pass %>
  <span class="inline-flex items-center rounded-md bg-green-50 dark:bg-green-500 px-2 py-1 text-xs font-medium text-green-700 dark:text-gray-900 ring-1 ring-inset ring-green-600/20"><%= t('.pass') %></span>
<% else %>
  <span class="inline-flex items-center rounded-md bg-red-50 dark:bg-red-400 px-2 py-1 text-xs font-medium text-red-700 dark:text-gray-900 ring-1 ring-inset ring-red-600/20"><%= t('.fail') %></span>
<% end %>
